<table class="table" >
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img [src]="beer1.image" [alt]="beer1.name"></td>
            <td>{{beer1.nombre}}</td>
            <td>{{beer1.tipo}}</td>
            <td>{{beer1.precio}}</td>
            <td>{{beer1.stock}}</td>
        </tr>
        <tr>
            <td><img [src]="beer2.image" [alt]="beer2.name"></td>
            <td>{{beer2.nombre}}</td>
            <td>{{beer2.tipo}}</td>
            <td>{{beer2.precio}}</td>
            <td>{{beer2.stock}}</td>
        </tr>
        <tr>
            <td><img [src]="beer3.image" [alt]="beer3.name"></td>
            <td>{{beer3.nombre}}</td>
            <td>{{beer3.tipo}}</td>
            <td>{{beer3.precio}}</td>
            <td>{{beer3.stock}}</td>
        </tr>
    </tbody>
</table>